<!DOCTYPE html>
<html lang="en" ng-app="parking_app">

<head>
    <title>FINAL</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Parking_icon.svg/1024px-Parking_icon.svg.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>

    <script src="js/frontend_app.js"></script>

</head>



<body ng-controller="all_address_controller">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PARKINGPARKPARKPARK</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">BACK TO APP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">

        <h2>ADD AN ADDRESS</h2>
        <form>
            <input type="text" placeholder="Enter Address" ng-model="input_name">

            <button class="btn btn-primary" ng-click="create()">Add New Address</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>_id</th>
                    <th>name</th>
                    <th>street name</th>
                    <th>area</th>
                    <th>district</th>
                    <th>hours</th>
                    <th>payment methods</th>
                    <th>UPDATE</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody ng-repeat="address in addresses">
                <tr>
                    <td>
                        {{address._id}}
                    </td>
                    <td>
                        <input type="text" ng-model="address.name">
                    </td>
                    <td>
                        <input type="text" ng-model="address.floor">
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="update(employee)">UPDATE</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete(employee)">DELETE</button>
                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>