<form ng-controller="all_addresses">
    <p>
        <input type="text" ng-model="address.name">
    </p>
    <p>
        <input type="text" ng-model="address.buildingName">
    </p>
    <p>
        <input type="text" ng-model="address.streetName">
    </p>
    <p>
        <input type="text" ng-model="address.buildingNo">
    </p>
    <p>
        <input type="text" ng-model="address.floor">
    </p>
    <p>
        <input type="text" ng-model="address.subDistrict">
    </p>
    <p>
        <input type="text" ng-model="address.dcDistrict">
    </p>
    <p>
        <input type="text" ng-model="address.region">
    </p>
    <p>
        <input type="text" ng-model="address.contactNo">
    </p>
    <p>
        <input type="text" ng-model="address.website">
    </p>
    <p>
        <input type="text" ng-model="address.openingHourse">
    </p>
    <p>
        <input type="text" ng-model="address.facilities">
    </p>
    <p>
        <input type="text" ng-model="address.paymentMethods">
    </p>

    <button ng-click="update(address)">ADD</button>
    <button ng-click="delete(address)">DELETE</button>

</form>